#AboutUs {
  @include flexCenter(row);
  .aboutUs {
    width: 546px;
    .title {
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.04em;
      color: $textBlue;
    }
    .about-text {
      font-size: 16px;
      line-height: 28px;
      color: $textBlue;
      margin-bottom: 20px;
    }
    .button {
      padding: 20px 60px;
      color: #ffffff;
    }
  }
  @media only screen and (max-width: 800px) {
    .aboutUs {
      width: initial;
      @include flexCenter(column);
      .title {
        text-align: center;
      }
      .about-text {
        text-align: justify;
      }
    }
  }
}
