#EventShowcase {
  .tit {
    font-weight: 600;
    font-size: 16px;
    line-height: 170.8%;
    color: $textBlue;
    margin: 20px 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-transform: capitalize;
      color: $textBlue;
    }
    .subtitle {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #6d7286;
    }
  }
  .button {
    padding: 0 30px;
    width: 220px;
    margin-left: 40%;
    margin-right: auto;
  }
  @media only screen and (max-width: 800px) {
    .container {
      @include flexCenter(column);
    }
    .content {
      align-items: center;
    }
    .card-image {
      display: flex;
      justify-content: center;
    }
    .button {
      margin: auto;
    }
  }
}
