#Footer {
  .foot-up {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)),
      url('../public//images/Social-Media.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include flexCenter(row);
    min-height: 350px;
    .up-text {
      @include flexCenter(column);
      .title {
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        color: #ffffff;
      }
      .subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #ffffff;
      }
      .button {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $textBlue;
        width: 250px;
      }
    }
  }
  .foot-down {
    background: url('../public/images/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    .foot-d {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: initial;
    }
    .foot-logo {
      width: 320px;
      p {
        font-size: 13px;
        line-height: 20px;
        color: #6d7286;
        text-align: justify;
      }
    }

    .foot-text {
      display: flex;
      justify-content: space-evenly;
      width: 70%;
      .summary {
        display: flex;
        flex-direction: column;

        .sum-title {
          border-bottom: 2px solid #e5e5e5;
          padding-bottom: 10px;
          width: 150%;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: $textBlue;
        }
        .sum-text {
          font-size: 14px;
          line-height: 17px;
          color: #6d7286;
          margin: 8px 0px;
        }
        .sum-icon {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #b3b5bc;
    margin-top: 20px;
  }
  @media only screen and (max-width: 850px) {
    .foot-d {
      flex-direction: column;
    }
    .foot-logo {
      margin-bottom: 30px;
    }
  }
}
