#Hero {
  background-image: url('../public/images/Background_Hero.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  @media only screen and (max-width: 480px) {
    height: 70vh;
  }
}
