@charset "utf-8";
@import '~bulma/bulma';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
.button {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@mixin flexCenter($dir) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}
$primaryBtn: #59a0d5;
$textBlue: #112e66;

@import './hero';
@import './navbar';
@import './header';
@import './friends';
@import './activity';
@import './bhufshowcase';
@import './aboutUs';
@import './eventShowcase';
@import './footer';
